            /*********** Articles **************************************************************************************************************/
            
            .container {
                margin: 0 auto;
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding: 60px;
                margin-top: -50px;
            }
            
            article {
                width: 284px;
                background: white;
                margin: 24px;
                border-radius: 16px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
                overflow: hidden;
                transition: transform 0.4s;
                border: solid 1px rgb(84, 84, 84);
            }
            
            article .article-image {
                height: 220px;
                background-image: url("img/GitZero.jpg");
                background-size: cover;
                background-position: center;
            }
            
            article .article-content {
                padding: 16px;
            }
            
            article .article-date {
                color: #673ab7;
                font-weight: bold;
                font-size: 1.5rem;
            }
            
            article .article-description {
                color: #666;
            }
            
            article.Projet .article-bottom {
                display: flex;
                align-items: center;
                background-color: #ffffff;
                color: white;
            }
            
            article .article-bottom-item {
                flex: 1;
                text-align: center;
                padding: 6px 0px;
                border-right: solid 1px rgba(0, 0, 0, 0.16);
            }
            
            article .article-bottom-item:last-of-type {
                border-right: none;
            }
            
            article .article-bottom-item i {
                font-size: 1.5rem;
                color: rgba(255, 255, 255, 0.6);
            }
            
            article .article-bottom-item-value {
                font-weight: bold;
                font-size: 1.5rem;
            }
            
            article .article-bottom-item-label {
                text-transform: uppercase;
                font-size: 1.3rem;
            }
            
            article:hover {
                cursor: pointer;
                transform: scale(1.08);
            }
            
            .p-finpage {
                font-size: 2rem;
                text-align: center;
                margin-bottom: 30px;
            }
            
            p>a:link {
                text-decoration: none;
                color: lightgray;
            }
            
            article .article-image {
                height: 300px;
                background-size: cover;
                background-position: center;
            }
            
            .main-sec {
                background-color: lightgray;
                margin-bottom: 5px;
            }
            /*------------------ H1 et H3 -----------------*/
            
            h1 {
                font-size: 2rem;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                font-family: cursive;
            }
            
            h3 {
                font-size: 4vmin;
                text-align: center;
                font-family: cursive;
                text-decoration: underline;
            }
            /*------------------ Article JB -----------------*/
            
            article.Projet .article-bottom {
                background-color: #000000;
            }
            /*------------------ Article Procreate -----------------*/
            
            article.procreate .article-image {
                height: 299px;
            }
            
            article.procreate .article-date {
                color: #ffffff;
            }
            
            article.procreate .article-bottom {
                background-color: #ffffff;
            }
            /*------------------ Article GitLab -----------------*/
            
            article.Git .article-image {
                height: 282px;
            }
            
            article.Git .article-date {
                color: #f05f72;
            }
            
            article.Git .article-bottom {
                background-color: #f05f72;
            }
            
            article.Git .a {
                text-decoration: none;
                color: #f05f72;
            }