@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FBF8F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25vmin;
    line-height: 20vmin;
}

.gradient-text {
    color: transparent;
    background: conic-gradient( #393640 12%, #82B0C7 12%, #FFFFFF 33%, #E7FBBE 33%, #E7FBBE 55%, #FFCBCB 55%, #FFCBCB 70%, #B5DEFF 70%, #B5DEFF 87%, #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: expand-rev 0.5s ease forwards;
    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
        text-align: center;
        font-size: 23vmin;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
        text-align: center;
        font-size: 23vmin;
    }
    100% {
        background-size: 325%;
        background-position: -10em -4em;
        text-align: center;
        font-size: 23vmin;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
        text-align: center;
        font-size: 23vmin;
    }
    20% {
        background-size: 55%;
        background-position: 0 1em;
        text-align: center;
        font-size: 23vmin;
    }
    100% {
        background-size: 50%;
        text-align: center;
        background-position: 0 0;
        font-size: 23vmin;
    }
}