@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 6vmin;
    font-weight: lighter;
    padding-bottom: 10px;
    border-bottom: 1px solid #222;
}

.container .heading h3 span {
    font-weight: 100;
}


/* Test */

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: inline-block;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 95%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.container .btn {
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}


/* Fin de test */

@media only screen and (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }
    .container .box .dream {
        width: 100%;
    }
}

@media only screen and (max-width: 643px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h3 {
        font-size: 1em;
    }
}