@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*********** Fixer le style global ********************************************************************/

html {
    font-size: 0.725rem;
    /* 1 rem = 10px */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(47, 47, 47);
    background-color: white;
}

.global-div {
    margin: auto;
}


/*********** Header ****/

.main-head {
    text-align: center;
}

.logo-img {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 9px;
}


/********Scroll up*******/

.btn {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.fleche {
    width: 50px;
}


/*********** NAVIGATION ************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b0cc99;
    box-shadow: 0 5px 25px rgb(84, 84, 84 /20%);
    padding: 0 100px;
    transition: 0.6s;
    text-transform: uppercase;
}

header .logo {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation {
    position: relative;
    line-height: 75px;
    transition: 0.6s;
    transition-property: line-height;
}

header.sticky .navigation {
    line-height: 60px;
}

header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    border-bottom: solid 5px white;
}

.menu-item>a {
    color: rgb(84, 84, 84);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
    text-transform: uppercase;
}

.menu-item>a:hover {
    color: #8eb0c7;
    transition: 0.3s;
}

.menu-item .sub-menu {
    position: absolute;
    background: rgb(84, 84, 84);
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(84, 84, 84 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu {
    top: 60px;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgb(84, 84, 84);
}

.menu-item .sub-menu .sub-item a {
    color: lightslategrey;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
    background: white;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.more .more-menu {
    position: absolute;
    background: rgb(84, 84, 84);
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.more:hover .more-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.more .more-menu .more-item {
    padding: 7px 0;
    box-shadow: inset 0px -30px 5px -30px rgb(84, 84, 84);
    transition: 0.3s;
}

.more .more-menu .more-item:hover {
    background: rgb(255, 189, 89);
}

.menu-btn {
    display: none;
}

@media (max-width: 1060px) {
    header .navigation .menu {
        position: fixed;
        display: block;
        background: whitesmoke;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }
    header.sticky .navigation {
        line-height: 75px;
    }
    header .navigation .menu.active {
        right: 0;
        visibility: visible;
    }
    .menu-item {
        position: relative;
    }
    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: whitesmoke;
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    header.sticky .menu-item .sub-menu {
        top: 0;
    }
    .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover {
        color: #8eb0c7;
        transition: 0.3s;
    }
    .more .more-menu {
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: rgb(84, 84, 84);
        border-radius: 5px;
        display: none;
    }
    .more .more-menu .more-item {
        box-shadow: none;
    }
    .more .more-menu .more-item:hover {
        background: none;
    }
    .more .more-menu .more-item a {
        margin-left: 20px;
    }
    .close-btn {
        position: absolute;
        background: url(../img/croix_nav.png) no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;
    }
    .menu-btn {
        background: url(../img/3barres.png) no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header {
        padding: 15px 20px;
    }
    header.sticky {
        padding: 10px 20px;
    }
}


/*********** Footer **************************************************************************************************************/

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
    background: #b0cc99;
    color: rgb(84, 84, 84);
    padding: 20px;
    text-align: center;
    font-size: 12px;
}


/*****************MISE EN PLACE *******************************************************************************************************************/

header,
nav,
footer,
section,
article,
aside {
    position: relative;
    box-sizing: border-box;
}

span {
    padding: 1px;
    background-color: #cccccc;
}

header span {
    background-color: #2196f3;
}

nav {
    border: 3px solid #8bc34a;
    height: 500px;
}

nav span {
    background-color: #8bc34a;
}

section {
    padding: 25px;
}

section span {
    background-color: #e9ffb7;
}

footer span {
    background-color: #673ab7;
    color: #ffffff;
}

article span {
    background-color: #009688;
}

aside span {
    background-color: #ffc107;
}

.corner1 {
    position: absolute;
    top: 0;
    left: 0;
}

.corner2 {
    position: absolute;
    bottom: 0;
    right: 0;
}